<!-- Footer -->
			<footer class="footer">
			
				<!-- Footer Top -->
				<div class="footer-top">
					<div class="container">
						<div class="subsccribe-item">
							<div class="row align-items-center">
								<div class="col-lg-6">
									<div class="subscribe-item">
										<div class="section-title">
											<h2>Sign Up For Newsletter</h2>
											<p>Join 60.000+ Subscribers</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="subscribe-item">
										<form class="newsletter-form">
											<input type="email" class="form-control" placeholder="Enter your email" autocomplete="off">
											<button class="btn cmn-btn disabled" type="submit"><i class="fas fa-paper-plane mr-2"></i>Subscribe Now</button>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<h2 class="footer-title">About I-Learn</h2>
									<div class="footer-about-content">
										<p>Create an online course, reach students across the globe</p>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Students</h2>
									<ul>
										<li><a href="#">Search Teachers</a></li>
										<li><a href="#">Login</a></li>
										<li><a href="#">Register</a></li>
										<li><a href="#">Booking</a></li>
										<li><a href="#">Student Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Teachers</h2>
									<ul>
										<li><a href="#">Appointments</a></li>
										<li><a href="#">Chat</a></li>
										<li><a href="#">Login</a></li>
										<li><a href="#">Register</a></li>
										<li><a href="#">Teacher Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-social">
									<h2 class="footer-title">Instagram</h2>
									<div class="footer-social-info d-block">
										<div class="footer-insta-info">
											<div><%= image_tag(image_path('1.jpg'), class: 'img-fluid') %></div>
											<div><%= image_tag(image_path('2.jpg'), class: 'img-fluid') %></div>
											<div><%= image_tag(image_path('3.jpg'), class: 'img-fluid') %></div>
											<div><%= image_tag(image_path('4.jpg'), class: 'img-fluid') %></div>
											<div><%= image_tag(image_path('6.jpg'), class: 'img-fluid') %></div>
											<div><%= image_tag(image_path('2.jpg'), class: 'img-fluid') %></div>
											<div><%= image_tag(image_path('4.jpg'), class: 'img-fluid') %></div>
											<div><%= image_tag(image_path('5.jpg'), class: 'img-fluid') %></div>
											<div><%= image_tag(image_path('6.jpg'), class: 'img-fluid') %></div>
										</div>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
				<div class="footer-bottom">
					<div class="container">
					
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-12">
									<div class="copyright-text text-left">
										<p>Terms - Privacy Policy & Safety - Send feedback</p>
									</div>
								</div>
								<div class="col-md-6 col-12">
									<div class="copyright-text text-md-right">
										<p>&copy; 2020 I-Learn. All rights reserved. Developed with <i class="fa fa-heart" style="color: red;"></i> by TSC Ghana</p>
									</div>
								</div>
							</div>
						</div>
						<!-- /Copyright -->
						
					</div>
				</div>
				<!-- /Footer Bottom -->
				
			</footer>
			<!-- /Footer -->